<!-- Content here -->
 
<div class="row row-cols-2"> 
  <div class="col">
    <center><img src="<%= image_path("hello.png")%>" width="600" height="500"></center> 
  </div>
  <div class="col">
    <%= render 'shared/error' %>
    <br>
    <div class="card" style="width: 20rem;">
      <%= form_with(model: @user, url:'/login', local: true) do |f|%>
    
        <div class="card-header"><h1>Local Login</h1></div>
        <%# <td align="center" colspan="2"><hr class="rounded"></td> %>
        <div class="row align-items-start">
          <div class="col"><br><%= f.label "Email:"%></div>
          <div class="col"><br><%= f.email_field name="email"%></div>
        </div>
        <div class="row align-items-start">
          <div class="col"><br><%= f.label "Password:"%></div>
          <div class="col"><br><%= f.password_field name="password"%></div>
        </div>
        <div class="row align-items-start">
          <div class="col"></div>
          <div class="col" align="right"><br><%= f.submit "Login"%></div>
        </div>

      <%end%>
    
    </div>
    <br>
    <div class="card" style="width: 20rem;"> 
    <div><img src="<%= image_path("GitHub-Mark-32px.png")%>"> <%= link_to 'Sign in with GitHub', '/auth/github'%>
    </div>
  </div>
</div>


