<!-- Content here -->

 
<div class="row row-cols-2"> 
  <center><img src="<%= image_path("hello.png")%>"></center> 
 
  <div class="column">
    <% flash.each do |type, msg| %>
  <div class="errors">
  <ul>
    <li><%= msg %></li>
</ul>
  </div>
<% end %>
    <div class="card" style="width: 20rem;">
    <table>
    <%= form_with(model: @user, url:'/login', local: true) do |f|%>
    <tr>
        <td align="center" colspan="2"><h1>Local Login</h1></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><hr class="rounded"></td>
    </tr>
    <tr>
        <td align="right"><%= f.label "Email:"%></td>
        <td align="right"><%= f.email_field name="email"%></td>
    </tr>
    <tr>
        <td align="right"><%= f.label "Password:"%></td>
        <td align="right"><%= f.password_field name="password"%></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><br><%= f.submit "Login"%></td>
    </tr>
    <%end%>
    </table>
    </div>
    <br>
    <div class="card" style="width: 20rem;"> 
    <div><img src="<%= image_path("GitHub-Mark-32px.png")%>"> <%= link_to 'Sign in with GitHub', '/auth/github'%>
    </div>
  </div>
</div>


