<!-- Content here -->

 
<div class="row"> 
  <center><img src="<%= image_path("hello.png")%>"></center> 
 
  <div class="column">
    <div class="card">
    <table>
    <%= form_for @user do |f|%>
    <tr>
        <td align="center" colspan="2"><h1>Local Login</h1></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><hr class="rounded"></td>
    </tr>
    <tr>
        <td align="right"><%= f.label "Email:"%></td>
        <td align="right"><%= f.email_field name="email"%></td>
    </tr>
    <tr>
        <td align="right"><%= f.label "Password:"%></td>
        <td align="right"><%= f.password_field name="email"%></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><br><%= f.submit "Login"%></td>
    </tr>
    <%end%>
    </table>
    </div>
    <br>
    <div class="card">Login with Github</div>
  </div>
</div>


