<div class="d-flex justify-content-center">
    <div class="column">
        <div class="card" style="width: 25rem;" >
            <div class="card-header"><h1><%= params[:action].capitalize%> Dog's Profile</h1></div>
            <div align="right">

                <%= form_for(@dog) do |f|%>
                    <div class="row align-items-start">    
                        <div class="col" align="right"><br><%= f.label "Name:" %></div>
                        <div class="col"><br><%= f.text_field name="name"%></div>
                    </div>

                    <div class="row align-items-start"> 
                        <div class="col" align="right"><br><%= f.label "Breed:"%></div>
                        <div class="col"><br><%= f.text_field name="breed"%></div>
                    </div>

                    <div class="row align-items-start"> 
                        <div class="col" align="right"><br><%= f.label "Walks Needed:"%></div>
                        <div class="col" align="left"><br><%= f.number_field name="walks_needed", in: 1..5, step: 1, value: 1%></div>
                    </div>
                    <br>

                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-secondary btn-sm" href="<%= user_path(current_user) %>" role="button">Cancel</a>
                            <% if @dog.id %>
                                <%= f.submit "Update", :class => "btn btn-primary btn-sm"%>
                            <% else %>
                                <%= f.submit "Create Dog", :class => "btn btn-primary btn-sm"%>
                            <%end%>
                        </div>
                    </div>

                <%end%>

            </div>
        </div>
    </div>
</div>