<div class="card-header" align="center">Dogs Index</div><br>    
  <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="<%= all_dogs_active_nav %>" href="<%= dogs_path %>">All Dogs</a>
        </li>
        <li class="nav-item">
            <a class="<%= needs_walked_active_nav%>" href="<%= dogs_needs_walked_path %>">Dogs Needing Walked</a>
        </li>
        <li class="nav-item">
            <a class="<%= breeds_active_nav %>" href="<%= dogs_by_breeds_path %>">Dogs By Breeds</a>
        </li>       
    </ul>
    <div class="container">
     &nbsp; 
    </div>
    <div class="row row-cols-5"> 
        <% @dogs.each do |dog| %>
        <div class="card">
            <div class="card-header"> <%= dog.name %> </div>
            <b> Breed:</b> <%= dog.breed %>
            <b> Daily Walks Needed:</b> <%= dog.walks_needed %>
            <b> Dog Owner:</b> <%= dog.owners_name %>
            <br>
            <div class="card-footer">
            <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-secondary btn-sm" href="<%= dog_walks_path(dog.id) %>" role="button">Walk Hx</a>
            <a class="btn btn-success btn-sm" href="<%= new_dog_walk_path(dog.id) %>" role="button">Walk Dog</a>
            </div>
            </div>
        </div>
        <% end%>
    </div>
    <div class="container">
     &nbsp; 
    </div>
  </div>





    
