 <div class="card-header2" align="center">User Show</div><br>
 <div class="column">
    <div class="card" style="width: 18rem;" >
    <div align="left">
    <%= form_for(@user) do |f|%>
    
        <%= f.label "First Name:" %><br>
        <%= f.text_field name="first_name"%><br>
    
    
        <%= f.label "Last Name:"%><br>
        <%= f.text_field name="last_name"%><br>
    
    
        <%= f.label "Email:"%><br>
        <%= f.email_field name="email"%><br>
    
    
        <%= f.label "Age:"%><br>
        <%= f.number_field name="age"%><br>
    
    
        <%= f.label "Years Experience:"%><br>
        <%= f.number_field name="years_experience"%><br>
    
    
        <td>
        <br><%= f.submit "Update"%>
    
    <%end%>
    </div>
    </div>

    
  </div>
