<div class="card-header" align="center">User Profile</div><br>
<div class="d-flex justify-content-center">
      <%= render 'shared/error' %>
</div>
      <br>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 20rem;">
    <div class="card-header"><h1>Edit Profile</h1></div>
    <div align="left">
      <%= form_for(@user) do |f|%>

        <div class="row align-items-start">
            <div class="col" align="right"><br><%= f.label "First Name:" %></div>
            <div class="col"><br><%= f.text_field name="first_name"%></div>
        </div>

        <div class="row align-items-start">
          <div class="col" align="right"><br><%= f.label "Last Name:"%></div>
          <div class="col"><br><%= f.text_field name="last_name"%></div>
        </div>
      
        <div class="row align-items-start">
          <div class="col" align="right"><br><%= f.label "Email:"%></div>
          <div class="col"><br><%= f.email_field name="email"%></div>
        </div>

        <div class="row align-items-start">
          <div class="col" align="right"><br><%= f.label "Age:"%></div>
          <div class="col" align="right"><br><%= f.number_field name="age", in: 18..100, step: 1%></div>
        </div>

        <div class="row align-items-start">
          <div class="col" align="right"><br><%= f.label "Years Experience:"%></div>
          <div class="col" align="right"><br><%= f.number_field name="years_experience", in: 0..100, step: 1%></div>
        </div>

        <div class="row align-items-start">
          <div class="col" align="right">
          <div class="col" align="right"><br><%= f.submit "Update"%>
        </div>
      
      <%end%>
    </div>
    
  </div>

</div>
