<!DOCTYPE html>
<html>
  <head>
    <title>PuppyTrail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/86a7cf576f.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.css' %>
    
    
  </head>

  <body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <i class="fas fa-dog"></i>
      PuppyTrails</a>
      <ul class="navbar-nav">
      <%= nav_bar %>
      </ul>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
