<!DOCTYPE html>
<html>
  <head>
    <title>PuppyTrail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/86a7cf576f.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.css' %>
  </head>

  <body>

  <!-- Begining of Nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <i class="fas fa-dog"></i>
      PuppyTrails</a>
<!-- div class="collapse navbar-collapse" id="navbarNav"-->
      <ul class="navbar-nav">
      <% if session[:user_id] == nil%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= signup_path %>">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>">Logout</a>
        </li>
        <%end%>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    <!--/div-->
  </div>
</nav>
<!-- End of Nav -->

    <%= yield %>
  </body>
</html>
